@page "/graph"

@using Blazor.ECharts.Options
@using Blazor.ECharts.Options.Enum
@using G = Blazor.ECharts.Options.Series.Graph

<div class="chart-container">
    <EGraph Option="@_jobTree" Class="chart-fill"></EGraph>
</div>

@code{
    private EChartsOption<G.Graph> _jobTree;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _jobTree = new()
        {
            Title = new()
            {
                Text = "JobTree",
                Top = "15%",
                Left = "center"
            },
            Series = new()
            {
                new G.Graph()
                {
                    Layout = Layout.Force,
                    SymbolSize = 50,
                    FocusNodeAdjacency = true,
                    Categories = new()
                    {
                        new()
                        {
                            Name = "男性",
                            ItemStyle = new()
                            {
                                Color = "#009800"
                            }
                        },
                        new()
                        {
                            Name = "女性",
                            ItemStyle = new()
                            {
                                Color = "#4592FF"
                            }
                        }
                    },
                    Label = new()
                    {
                        Show = true,
                        TextStyle = new()
                        {
                            FontSize = 20
                        }
                    },
                    Force = new()
                    {
                        Repulsion = 1000
                    },
                    EdgeLabel = new()
                    {
                        Show = true,
                        TextStyle = new()
                        {
                            FontSize = 10
                        },
                        Formatter = "{c}"
                    },
                    Data = new[]
                    {
                        new { Name = "A", Category = 0, Draggable = true },
                        new { Name = "B", Category = 0, Draggable = true },
                        new { Name = "C", Category = 0, Draggable = true },
                    },
                    Links = new()
                    {
                        new() { Source = 0, Target = 1, Value = "A->B" },
                        new() { Source = 0, Target = 2, Value = "A->C" },
                        new() { Source = 1, Target = 2, Value = "B->C" },
                        new() { Source = 2, Target = 0, Value = "C->A" },
                    },
                    LineStyle = new()
                    {
                        Opacity = 0.9,
                        Width = 3,
                        Curveness = 0
                    }
                }
            }
        };
    }

}