@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject IOptions<WebUiConfig> _options

<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link" style="color:white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link" style="color:white" target="_blank" href="/dashboard">OrleansDashboard</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link" style="color:white" target="_blank" href="/swagger">Swagger</a>
        </li>
    </ul>
</nav>
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="@((int)_options.Value.NotificationHideTime.TotalSeconds)"
                SuccessClass="success-toast-override"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-thumbs-up"
                ErrorClass="fa fa-bug" />
<br />
<div class="container" style="max-width:4096px">
    @Body
</div>